* {
  margin: 0;
  padding: 0;
}

.form_outer_field {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

.middle-image {
  margin: -36px;
}

.middle_field {
  display: grid;
  gap: 20px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.para_1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}

.form_inner_field {
  padding: 40px 20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .logIn_form {
  display: grid;
  gap: 50px;
} */

.section-A {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.section-B {
  display: grid;
  gap: 22px;
  background-color: white;
  /* padding: 20px; */
  font-size: 17px;
}

.input-checkbox {
  display: flex;
  justify-content: space-between;
}

.input-checkbox label {
  padding-right: 2px;
}

.input-checkbox a {
  text-decoration: none;
  color: dodgerblue;
}

.submit-field {
  display: grid;
  justify-items: center;
  gap: 8px;
}

.submit-field a {
  text-decoration: none;
  color: dodgerblue;
}

.line-break {
  border-top: 1px solid lightgrey;
}

.create-button {
  justify-self: center;
}

.create-button button {
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  background-color: #42b72a;
  color: white;
  font-weight: 900;
  font-size: 17px;
  text-transform: capitalize;
}
