.inputform {
  display: grid;
  width: 400px;
}

.inputform input {
  padding: 20px 10px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.inputform label {
  text-transform: capitalize;
}

.submit-button {
  background-color: dodgerblue;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}
.submit-button:hover {
  background-color: rgb(13, 79, 146);
  font-weight: 900;
}
